:root {
    --dark-color: black;
    --yellow-color: #ffd200;
    --rose-color: #ec8298;
    --green-color: #00ffc2;
    --bordo-color: #7d4c6d;
    --blue-color: #55b6af;
    --light-blue-color: #b5e8e5;
    --offset: 8px;
    --offset-2: 16px;
    --offset-3: 24px;
    --offset-4: 32px;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: var(--dark-color);
}

body {
    background-color: ghostwhite;
}
/* ----loyaut---- */

/* ----header---- */
.header {
    height: 80px;
    background-color: var(--yellow-color);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 24px 8px;
    border-bottom: 1px solid var(--dark-color);
    position: sticky;
}

.logo h1 {
    color: black;
    font-size: 48px;
}

.icon-btn {
    height: 32px;
    width: 32px;
    object-fit: cover;
    fill: var(--dark-color);
    margin-left: var(--offset);
    display: inline;
}
.icon-btn:hover {
    cursor: pointer;
}

/* ---main-family-screen --- */

.main-family-screen {
    display: flex;
    flex-wrap: wrap;
}

.big-btn {
    background-color: var(--yellow-color);
    height: 100px;
    width: 100px;
    border: none;
}
.big-btn::before {
    content: "+";
    font-size: 80px;
    color: white;
}
.big-btn:hover {
    background-color: var(--green-color);
    cursor: pointer;
    color: white;
}

/* ui input */

.input_group {
    padding: 16px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_field {
    font-family: inherit;
    width: 200px;
    border: 3px solid var(--dark-color);
    outline: 0;
    font-size: 16px;
    color: var(--dark-color);
    padding: var(--offset) var(--offset);
    background: white;
    transition: border-color 0.2s;
}

.input_label {
    font-size: 16px;
    cursor: text;

    display: block;

    color: var(--dark-color);
}

.input_field:focus {
    border-color: var(--green-color);
}

.img_profile_small {
    width: 50px;
    height: 50px;

    object-fit: cover;
}
.img_profile_small:hover {
    cursor: pointer;
}
.img_profile_big {
    width: 100px;
    height: 100px;
    /* border: 3px solid var(--green-color); */
    filter: grayscale(100%);
    object-fit: cover;
}

.img_profile_big:hover {
    /* border: 3px solid var(--green-color); */
    filter: grayscale(0%);
    cursor: pointer;
}
/* member-view */

.member-view-container {
    background-color: var(--yellow-color);
    display: flex;
    height: 100%;
}
.bio-container {
    display: flex;
    flex-direction: column;
}

.relatives-list {
    display: flex;
}
