:root {
    --dark-color: black;
    --yellow-color: #ffd200;
    --ligth-yellow-color: #f3efdc;
    --rose-color: #ec8298;
    --green-color: #00ffc2;
    --bordo-color: #7d4c6d;
    --blue-color: #55b6af;
    --light-blue-color: #b5e8e5;
    --offset: 8px;
    --offset-2: 16px;
    --offset-3: 24px;
    --offset-4: 32px;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: var(--dark-color);
}

body {
    background-color: ghostwhite;
}
/* ----loyaut---- */

/* ----header---- */
.header {
    height: 75px;
    background-color: var(--yellow-color);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 24px 8px;
    border-bottom: 1px solid var(--dark-color);
    position: sticky;
}

.logo:hover {
    cursor: pointer;
}

.logo h1 {
    color: black;
    font-size: 48px;
}

.icon-btn {
    height: 32px;
    width: 32px;
    object-fit: cover;
    fill: var(--dark-color);
    margin-left: var(--offset);
    display: inline;
}

.icon-btn:hover {
    cursor: pointer;
}

.icon-tree {
    height: 50px;
    width: 50px;
    margin-left: 0;
}
.icon-tree:hover {
    fill: white;
}

/* ---main-family-screen --- */

.main-family-screen {
    display: flex;
    flex-wrap: wrap;
}

.big-btn {
    background-color: var(--yellow-color);
    height: 100px;
    width: 100px;
    border: none;
}
.big-btn::before {
    content: "+";
    font-size: 80px;
    color: white;
}
.big-btn:hover {
    background-color: var(--green-color);
    cursor: pointer;
    color: white;
}

.btn {
    background-color: var(--yellow-color);
}

.btn:hover {
    background-color: var(--green-color);
    cursor: pointer;
    color: white;
}

.btn-primary {
    /* background-color: black;
    color: white; */
    background-color: var(--yellow-color);
    border: 1px solid black;
    color: black;
    height: 50px;
}
.btn-primary:hover {
    background-color: var(--green-color);
    cursor: pointer;
    color: white;
}

.add-btn {
    height: 50px;
    width: 50px;
}
.add-btn::before {
    content: "+";
    font-size: 32px;
    /* color: black; */
}
.add-relations-btn {
    padding: 0 var(--offset-2);
}

/* ui input */

.input_group {
    padding: 16px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_field {
    font-family: inherit;
    width: 100%;
    border: 1px solid var(--dark-color);
    outline: 0;
    font-size: 16px;
    color: var(--dark-color);
    padding: var(--offset) var(--offset);
    background: white;
    transition: border-color 0.2s;
}

.input_label {
    font-size: 16px;
    cursor: text;

    display: block;

    color: var(--dark-color);
}

.input_field:focus {
    border-color: var(--green-color);
}

.img_profile_small {
    width: 50px;
    height: 50px;

    object-fit: cover;
}
.img_profile_small:hover {
    cursor: pointer;
}

.selected {
    border: 2px solid var(--green-color);
}
.img_profile_big {
    width: 100px;
    height: 100px;
    /* border: 3px solid var(--green-color); */
    filter: grayscale(100%);
    object-fit: cover;
}

.img_profile_big:hover {
    /* border: 3px solid var(--green-color); */
    filter: grayscale(0%);
    cursor: pointer;
}
/* add-member */
.add-member-container {
    display: flex;
    column-gap: var(--offset-2);
}

.line {
    display: flex;
    justify-content: space-between;
}

.add-member-btn {
    font-size: var(--offset-2);
    padding: 0 var(--offset-2);
}
/* member-view */

.member-view-container {
    background-color: lightgray;

    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 200px 300px;

    height: 100%;
    grid-template-areas:
        "photo bio"
        "photo relatives";
}
.bio-container {
    display: flex;
    flex-direction: column;
    grid-area: bio;
    position: relative;
    align-items: center;
    width: 100%;
    padding-top: var(--offset-2);
}
.photo-container {
    grid-area: photo;
    position: relative;
}
.relatives-box {
    grid-area: relatives;
}
.view-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 500px;
}

.change-photo {
    width: 50px;
    height: 50px;
    z-index: 3;
    position: absolute;
    bottom: 0;
    right: 0;
}

.edit-member-btn {
    width: 50px;
    position: absolute;
    top: var(--offset-2);
    right: 0;
    background-color: lightgray;
}

.relatives-container {
    /* background-color: var(--yellow-color); */
    padding: 25px 0;
    /* width: 50%; */
    position: relative;
}
.member-relatives-block {
    position: absolute;
    left: -75px;
    top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

.relatives-list {
    display: flex;
}

.margin-modal {
    margin: var(--offset-3);
}

.relative-end {
    height: 200px;
    width: 60%;
    position: absolute;
    left: 50px;
    /* background-color: var(--yellow-color); */
    background: linear-gradient(
        90deg,
        #ffd600 41.67%,
        rgba(196, 196, 196, 0) 100%
    );
}
.relative-type {
    width: 100px;
    height: 50px;
    background-color: var(--yellow-color);
    text-align: center;
}

.tree-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    width: 50px;
    height: 50px;
}
.photo-uploader {
    background-color: var(--yellow-color);
    height: 50px;
    width: 350px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.close-btn {
    padding: var(--offset);
}
.close-btn:hover {
    cursor: pointer;
}

.date-view {
    display: flex;
}
.date-text {
    display: inline;
    margin: var(--offset-2);
    font-weight: 600;
}
.bio-text {
    margin-bottom: var(--offset);
}

.bio-editor-container {
    padding: var(--offset-2);
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 3px;
    background-color: var(--yellow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bio-editor-textarea {
    margin: var(--offset-2);
    width: 60%;
}
/* modal */

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.modal {
    background-color: var(--yellow-color);
    z-index: 11;
    padding: 25px 0;
    border-radius: 1px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
